{% extends 'base.html' %}
{% block content %}

    <style>
        main{
            height: 100vh;
            width: 100vw;
            background: red;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>

    <main>
        <div class="">
            <h1>Are you sure you want to delete {{data.type_name}} ?</h1>
            <form method="post" action="{% url 'delete_productType' data.id %}">
                {% csrf_token %}
                <button type="submit">Yes Delete</button>
                <button><a href="{% url 'product_types' %}">No, Cancel</a></button>
            </form>
        </div>
    </main>

{% endblock %}