{% extends 'base.html' %}
{% block content %}


{% for i in product_types %}

    <div style="margin-top: 10rem;">
        <h2>ID : {{i.id}}</h2>
        <h2>Name : {{i.type_name}}</h2>
        <h2>Description : {{i.desc}}</h2>
        <button style="border-radius: 30px; padding: 5px 30px;">Add Type</button>
        <a href="{%url 'delete_productType' i.id %}">
            <button style="border-radius: 30px; padding: 5px 30px;">Delete Type</button>
        </a>
    </div>

{% endfor  %}

{% endblock %}